{%extends 'base/base.html'%}

{% block content%}
<table class="table table-bordered">
    <thead>
    <th>ID</th>
    <th>
        Nombre
    </th>
    <th>
            Raza
        </th>
        <th>
                Sexo
            </th>
            <th>
                    Edad
                </th>
    <th>
        Fecha
    </th>
    <th>
            Adopta
        </th>
        <th>Acciones</th>
    </thead>
<tbody>
    {% if object_list %}
        {% for mascota in object_list %}
        <tr>
                <td>{{mascota.id}}</td>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.raza}}</td>
            <td>{{mascota.sexo}}</td>
            <td>{{mascota.edad}}</td>
            <td>{{mascota.fecha_rescue}}</td>
            <td>{{mascota.persona.nombre}}</td>
            <td>
                <a href="{%url 'update' mascota.id%}" class="btn btn-warning">Editar</a>
                <a href="{%url 'delete' mascota.id%}" class="btn btn-danger">Eliminar</a>

            </td>
        </tr>
        {% endfor %}

    {% else %}
    <h1>no hay registros</h1>
    {% endif %}
</tbody>
</table>


{%endblock%}